/************************** Tag Selectors ****************************/

div { background-color: #f0f5f9 ;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0 ;
  text-align: center;

}

h1 {
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  font-size: 5rem;
}

h2,h3,p {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin : auto auto 50px;
  width: 800px;

}



/************************** Class Selectors ****************************/

.bottom-container {

}

.bottom-cloud {
  position: absolute;
  bottom : 300px;
  left: 300px;

}

.gofleetinternational {
  height: 10rem ;
  width: 40%;
}
.ifashion {
  height: 12rem ;
  width: 24rem;
}

.programmer{
  font-size: 2.5rem;
}

.mypicture {
  height: 250px
}

.middle-container {
  padding: 50px;

}

.top-container{background-color: #effffb;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
